* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection {
    color: white;
    background-color: black;
}


/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 8px;
    padding: 2.5px;
 }

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
     background: #282828;
     border-radius: 6px;
     border: #282828 1px solid;
 }


/* Cover Sectin */

#cover {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#cover h1 {
    font-size: 5em;
}

.cover-content {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-image-1 {
    height: 100px;
}

.air {
    width: 40%;
    height: 2px;
    background-color: black;
    position: absolute;
}

.v1 {top: 20%; right: -100%;}
.v2 {top: 40%; right: -100%; }
.v3 {top: 65%; right: -100%; }
.v4 {top: 75%; right: -100%;}

.car-air-1, .car-air-2, .car-air-3 {
    height: 1px;
    width: 10px;
    background-color: black;
    position: relative;
}

.car-air-1 {top: 5px; right: 20%;}
.car-air-2 {top: 10px; right: 20%;}
.car-air-3 {right: 20%;}

.loading-bar {
    width: 50%;
    height: 20px;
    border: 3px solid #282828;
    border-radius: 100px;
    position: absolute;
    bottom: 40%;
}

.bar {
    width: 1%;
    height: 100%;
    background-color: #6e6e6e;
    border-radius: 100px;
}

/* Cover/Loading Page Animations */

@keyframes carShake {
    0% {transform: translate(0px, 2px);}
    25% {transform: translate(2px, 0);}
    50% {transform: translate(0px, 2px);}
    100% {transform: translate(2px, 0);}
}

.car-image-1 {animation: carShake 0.5s infinite;}

@keyframes carAir1 {to{transform: translate(-50px, 0);}}
@keyframes carAir2 {to{transform: translate(-60px, 0);}}
@keyframes carAir3 {to{transform: translate(-45px, 0);}}

.car-air-1 {animation: carAir1 0.5s 0.8s infinite;}
.car-air-2 {animation: carAir2 0.5s 0.5s infinite;}
.car-air-3 {animation: carAir3 0.5s 0.2s infinite;}

@keyframes air1 {to{transform: translate(-800%);}}

.v1 {animation: air1 1s 0.5s infinite;}
.v2 {animation: air1 1s 0.8s infinite;}
.v3 {animation: air1 1s 1s infinite;}
.v4 {animation: air1 1s 0.2s infinite;}


 /* Navigation */

#navigation {
    width: 60%;
    padding: 10px 0 10px 0;
    border: 5px solid transparent;
    border-radius: 50px;
    margin-top: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.nav-btn-container {
    display: flex;
}

.nav-buttons, .nav-home {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: normal;
    color: #6e6e6e;
    margin-right: 25px;
}

.nav-home {
    font-weight: bold;
}

#navigation h1 {
    height: 30px;
    padding: 3px 8px 2px 8px;
    border: 2px solid transparent;
    border-radius: 100px;
    background-color: transparent;
    margin-bottom: 5px;
}

#navigation a {
    text-decoration: none;
}

.nav-buttons sub {
    color: red;
}

.nav-line {
    height: 2px;
    width: 90%;
    background-color: #6e6e6e;
    margin-bottom: 10px;
}

.message {
    color: #6e6e6e;
    font-size: 0.9em;
}


/* Introduction Section */

#intro-section {
    height: auto;
    width: 100%;
    padding: 180px 100px 20px 100px;
}

.intro-content-container > h1 {
    font-size: 3em;
    font-weight: bolder;
    color: #282828;
    margin-bottom: 30px;
}

.intro-message {
    color: #6e6e6e;
    width: 50%;
}

.intro-message > p {
    margin-bottom: 20px;
}

.banner-btn {
    color: #f5f5f5;
    height: 120px;
    width: 120px;
    background-color: #282828;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 5px 5px 5px black;
}

.banner-btn h1 {
    font-size: 0.9em;
    padding-bottom: 10px;
}

.banner-btn p {
    font-size: 1.2em;
}

.intro-message > div {
    display: flex;
    align-items: center;
}

.btn-extra {
    text-align: center;
}

.btn-extra h1 {
    color: #282828;
}

.btn-extra p {
    color: #6e6e6e;
}

.banner-image {
    height: 200px;
}

.banner-image img {
    width: 85%;
    position: relative;
    left: 29%;
    bottom: 180px; 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.intro-bonus {
    width: 100%;
    display: flex;
}

.bonus-image {
    width: 50%;
}

.bonus-image {
    display: flex;
    align-items: center;
}

.jet1, .jet2 {
    width: 40%;
    margin-right: 30px;
}

.bonus-text {
    width: 50%;
}  

.bonus-text h1 {
    color: #282828;
    margin-bottom: 20px;
}

.bonus-text p {
    color: #6e6e6e;
    margin-bottom: 20px;
}

.bonus-text small {
    color: #6e6e6e;
}

.intro-review {
    width: 100%;
    margin-top: 100px;
}

.media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media1, .media2, .media3 {
    width: 33.33%;
    text-align: center;
}

.media1 {
    font-weight: bolder;
    font-size: 1.8em;
}

.media2 {
    font-size: 0.7em;
}

.media3 {
    font-size: 0.9em;
}

.quote {
    color: #6e6e6e;
    font-size: 0.9em;
    text-align: center;
    margin-top: 15px;
}

.intro-review img {
    height: 20px;
    width: 20px;
}

.quote button {
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: #282828;
    border: 2px solid #282828;
    margin-top: 50px;
}


/* Product Section */

#product-section {
    width: 100%;
    padding: 150px 100px 0 100px;
}

#product-section > h1 {
    color: #282828;
    font-size: 5em;
    text-decoration: underline;
}

.car-container {
    height: 450px;
    width: 100%;
    margin-bottom: 50px;
}

.car-container > h1 {
    font-size: 3em;
    color: #282828;
    margin-bottom: 30px;
}

.car-content {
    width: 100%;
    display: flex;
}

.car-info, .car-image {
    width: 50%;
}

.car-info p {
    color: #979797;
    width: 70%;
    margin-bottom: 15px;
}

.car-info button {
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #f5f5f5;
    height: 100px;
    width: 100px;
    background-color: #282828;
    border: 2px solid #282828;
    border-radius: 100%;
    margin-right: 20px;
}

.car-image img {
    width: 100%;
    background-color: #282828;
    border: 5px solid #282828;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.car-pic {
    opacity: 0;
    transform: translate(50px);
}

a {
    color: #f5f5f5;
    text-decoration: none;
}


/* Footer Section */

footer {
    padding: 50px 15% 100px 15%;
}

.footer-container {
    height: 100%;
    width: 100%;
}

.footer-line {
    height: 2px;
    width: 100%;
    background-color: #6e6e6e;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.footer-links a {
    cursor: pointer;
    margin-right: 20px;
}

.other-links {
    width: 60%;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
}

.other-links small {
    color: #979797;
}

.other-links small span {
    color: #6e6e6e;
}

footer a {
    color: #6e6e6e;
    cursor: pointer;
}

.footer-images {
    width: 10%;
    margin: 0 auto 0 auto;
    display: flex;
    padding-right: 18%;
}

.footer-images img {
    height: auto;
    width: 50px;
    margin-right: 30px;
}


/* Button Animations */

@keyframes btnHover {
    from {
        color: #f5f5f5;
        background-color: #282828;
        box-shadow: none;
    }
    to {
        color: #282828;
        background-color: #f5f5f5;
        box-shadow: 5px 5px 5px #282828;
    }
}

@keyframes btnHoverOff {
    from {
        color: #282828;
        background-color: #f5f5f5;
        box-shadow: 5px 5px 5px #282828;
    }
    to {
        color: #f5f5f5;
        background-color: #282828;
        box-shadow: none;
    }
}

button {
    outline: none;
    animation: btnHoverOff 0.5s 1;
    -webkit-animation-fill-mode: forwards;
}

button:hover {
    animation: btnHover 0.5s 1;
    -webkit-animation-fill-mode: forwards;
}

#intro-section button:hover img {
    content: url("../images/down-arrow2.png");
}


/*Navigation Bar Link Animations */

@keyframes linkHover {
    from {
    }
    to {
        color: #282828;
        font-weight: bold;
        border: 2px solid #282828;
    }
}

#navigation h1:hover {
    animation: linkHover 0.5s;
    -webkit-animation-fill-mode: forwards;
}